body {
  font-size: 20px;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  width: 100%;
  line-height: 1.4;
}

li, a, button {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: "Space Mono";
  font-size: 1rem;
}

h1 {
  font-family: "Space Mono";
  font-size: 2.5rem;
}

h3 {
  font-size: 1.4rem;
  font-style: italic;
  padding-bottom: .7rem;
}

.heading-deco {
  font-family: "Space Mono";
  font-size: 2.5rem;
  font-weight:bolder;
  margin-bottom:4rem;
  display: flex;
  border: solid red 1px;
}

.heading-deco h2 {
  color: #172530;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    #79B2C6 50%
  );
  padding-left: 1rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 768px) {
  .heading-deco {
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
  }

  .heading-deco h2 {
    justify-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* HEADER */

header {
  border-bottom: solid rgb(207, 207, 207) 1px;
  box-shadow:
    0.3px 1.4px 3.7px rgba(0, 0, 0, 0.02),
    0.8px 3.4px 8.8px rgba(0, 0, 0, 0.028),
    1.5px 6.4px 16.5px rgba(0, 0, 0, 0.035),
    2.7px 11.4px 29.5px rgba(0, 0, 0, 0.042),
    5px 21.3px 55.1px rgba(0, 0, 0, 0.05),
    12px 51px 132px rgba(0, 0, 0, 0.07)
  ;
  display: flex;
  /*justify-content: space-around;*/
  justify-content: flex-end;
  align-items: center;
  padding: .7rem 5%;
  line-height: 1;
  position: sticky; top: 0;
  background: white;
  
}

.logo {
  font-size: 3.5rem;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  /*border: solid red 1px;*/
}

.logo img {
  height: 3.5rem;
}

header .nav-links {
  list-style: none;
}

header .nav-links li {
  display: inline-block;
  padding: 0 .3rem;
}

header .nav-links li a {
  transition: all 0.6s ease 0s;
  padding: .8rem 1rem;
}

header .nav-links li a:hover {
  /*color: #044A5C;*/
  border-radius: 2px;
  -webkit-text-decoration: underline wavy #d05454;
  text-decoration: underline wavy #d05454;
}

header nav img {
  /*border: solid red 1px;*/
  height: 1.6rem;
  display: none;
  padding: .8rem;
}

@media only screen and (max-width: 768px) {
  header {
    
  }

  .logo {
    font-size: 3.2rem;
    cursor: pointer;
    display: flex;
    margin-right: auto;
  }
  
  .logo img {
    height: 3.2rem;
  }  

  .nav-links {
    display: none;
  }

  header nav img {
    display: flex;
  }
  
}

/* LANDING PAGE */
#landing {
  max-width: 1280px;
  /*border: solid red 1px;*/
  /*below are copied from my al-waha page*/
  color:#d05454;
  width: 70%;
  padding: 5rem 15%;
  justify-content: center;
  margin: 0 auto;
  /*grid thingy*/
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-me-title {
  /*border: solid red 1px;*/
  grid-area: 1 / 1 / 2 / 5;
}

.about-me {
  /*border: solid red 1px;*/
  grid-area: 2 / 1 / 4 / 5;
  text-align: justify;
  vertical-align: middle;
}

.profile-pic {
  /*border: solid red 1px;*/
  grid-area: 1 / 5 / 4 / 8;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.pfp-contain { /*anti-stretch thingy*/
  max-height: 20rem; 
  display: inline-block;
  /*border: solid green 1px;*/
  vertical-align: middle;
}

#landing img {
  max-height: 20rem;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  
}

#landing p {
  color: rgb(9,54,60)
}

@media only screen and (min-width: 768px) { /* desktop only */
  .about-me {
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  #landing {
    width: 80%;
    padding: 3rem 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 5rem;
  }
    
  .about-me-title { 
    grid-area: 1 / 1 / 2 / 3;
    display: table;
  }

  .about-me-title-container {
    display: table-cell;
    vertical-align: middle;
  }

  .about-me { 
    grid-area: 2 / 1 / 4 / 4; 
    display: table;
    vertical-align: middle;
  }

  .about-me p {
    display: table-cell;
    vertical-align: middle;
  }

  .profile-pic { 
    grid-area: 1 / 3 / 2 / 4; 
  }

}

/* PROJECTS */
#projects {
  max-width: 1280px;
  /*border: solid red 1px;*/
  /*below are copied from my al-waha page*/
  width: 70%;
  padding: 5rem 15%;
  justify-content: center;
  margin: 0 auto;
  /*grid thingy*/
}

.project {
  display: solid red 1px;
}